<mat-sidenav
  #sidenav
  igoSidenavShim
  mode="side"
  [opened]="opened">

  <div class="igo-sidenav-content">
    <div class="igo-content">
      <igo-panel [title]="tool ? (tool.title | translate) : ''">
        <button
          mat-icon-button
          panelLeftButton
          tooltip-position="below"
          matTooltipShowDelay="500"
          [matTooltip]="'Go Back' | translate"
          (click)="toolService.selectPreviousTool()"
          *ngIf="tool">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <igo-toolbar *ngIf="!tool"
          igoToolContext igoToolbarBinding>
        </igo-toolbar>

        <div class="igo-toolbox-container" [ngClass]="{'shown': tool ? true : false}">
          <igo-toolbox [animate]="true"></igo-toolbox>
        </div>

      </igo-panel>
    </div>
  </div>

</mat-sidenav>
