@require '../../../../style/var.styl';

.igo-legend-button-container {
  width: $igo-icon-size;
}

button,
:host >>> button .mat-button-ripple-round {
  border-radius: 0;
}


.igo-legend-button-container > button.mat-icon-button.mat-primary {
  color: white;
  background-color: $accent-color;
}
