<mat-sidenav-container>

  <app-backdrop
    [shown]="sidenavOpened"
    (click)="closeSidenav()">
  </app-backdrop>

  <app-sidenav
    [opened]="sidenavOpened"
    [tool]="toolService.selectedTool$ | async">
  </app-sidenav>

  <button
    mat-icon-button
    id="menu-button"
    color="primary"
    tooltip-position="below"
    matTooltipShowDelay="500"
    [matTooltip]="(sidenavOpened ? 'Close Menu' : 'Open Menu') | translate"
    (click)="toggleSidenav()">
    <mat-icon>
      <ng-container>menu</ng-container>
    </mat-icon>
  </button>

  <div igoClickout (clickout)="clickoutSearchBar()">
    <igo-search-bar
      igoSearchUrlParam
      placeholder="Adresse, code postal ou municipalité"
      floatLabel="never"
      [term]="searchTerm"
      [searchIcon]="true"
      (search)="search($event)"
      (click)="clickSearchBar()">
    </igo-search-bar>

    <igo-feature-list
      igoFeatureListBinding
      [groupFeatures]="false"
      (focus)="handleFeatureFocus($event)"
      (select)="handleFeatureSelect($event)"
      [display]="displaySearchResultsList">
    </igo-feature-list>
  </div>

  <igo-map-browser
    igoQuery
    igoOverlay
    igoMapContext
    igoLayerContext
    igoMapBrowserBinding
    [map]="map"
    [@mapStateX]="sidenavOpened ? 'right' : 'left'"
    (@mapStateX.start)="removeMapBrowserClass($event)"
    (@mapStateX.done)="updateMapBrowserClass($event)"
    [@mapStateY]="toastShown ? (toastOpened ? 'up' : 'down') : 'close'"
    (@mapStateY.start)="removeMapBrowserClass($event)"
    (@mapStateY.done)="updateMapBrowserClass($event)">

    <app-legend-button color="primary"></app-legend-button>
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
    <igo-geolocate-button [map]="map" color="primary"
      [@controlStateY]="(mediaService.media$ | async) === 'mobile' &&
                        toastShown ? (toastOpened ? 'up' : 'down') : 'close'">
    </igo-geolocate-button>
    <igo-baselayers-switcher [map]="map"
      [@controlStateY]="(mediaService.media$ | async) === 'mobile' &&
                        toastShown ? (toastOpened ? 'up' : 'down') : 'close'"
      [@controlStateX]="(mediaService.media$ | async) !== 'mobile' &&
                              sidenavOpened ? 'right' : 'left'">
    </igo-baselayers-switcher>

    <a id="logo" href="http://www.gouv.qc.ca" target="_blank">
      <img src="/assets/images/Quebec.png">
    </a>
  </igo-map-browser>

  <app-toast
    [opened]="toastOpened"
    [feature]="featureService.focusedFeature$ | async"
    (onOpened)="toastOpened=$event"
    (swipeleft)="swipe($event.type)"
    (swiperight)="swipe($event.type)"
    *ngIf="toastShown">
  </app-toast>

</mat-sidenav-container>
