@require '../../../style/var.styl';
@require '../../../style/media.styl';

/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

/*** Menu button ***/

#menu-button {
  background-color: $accent-color; // $igo-background-color;
  color: white;
  position: absolute;
  left: $igo-margin;
  top: $igo-margin;
  z-index: 5;

  &:hover {
    color: white;
  }
}

#menu-button,
#menu-button >>> .mat-button-ripple-round {
  border-radius: 0;
}



/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
}

igo-map-browser >>> .ol-scale-line {
  left: 85px;
  bottom: 2px;
  & > .ol-scale-line-inner {
    color: black;
    border-color: black;
  }
}

igo-map-browser.sidenav-offset >>> .ol-scale-line {
  left: 490px;
  +media(mobile) {
    left: $igo-padding
  }
}

app-legend-button {
  position: absolute;
  bottom: 140px;
  right: $igo-margin;
  +media(mobile) {
    bottom: 50px;
  }
}

/*** Search bar ***/
igo-search-bar {
  position: absolute;
  left: 45px;
  top: $igo-margin;
  z-index: 4;
  width: "calc(%s - 2 * %s)" % ($igo-sidenav-width $igo-margin);
  margin: 0 $igo-margin;

  +media(mobile) {
    width: auto;
    right: 0;
  }
}

igo-search-bar {
  background-color: $igo-background-color;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

igo-search-bar >>> input {
  height: $igo-icon-button-height;
}

igo-search-bar >>> .mat-input-wrapper {
  padding: 0;
}

igo-search-bar >>> label.mat-input-placeholder:not(.mat-empty),
igo-search-bar >>> mat-form-field.mat-focused >>> label.mat-input-placeholder {
  display: none;
}

igo-search-bar >>> label.mat-input-placeholder {
  top: 25px;
}

igo-search-bar >>> .mat-input-infix {
  border: none;
  padding: 0;
}

igo-search-bar >>> .mat-input-underline {
  top: 44px;
}

igo-search-bar >>> .mat-input-placeholder-wrapper {
  left: $igo-padding;
  right: $igo-padding;
  padding: 13px 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: auto;
}

igo-search-bar >>> .mat-input-element {
  padding-left: 10px;
  padding-right: $igo-icon-button-width;
}

igo-search-bar >>> button.mat-icon-button.mat-primary:hover {
  color: $primary-color;
}

/*** Toast ***/
app-toast {
  position: absolute;
  bottom: 0;
  max-height: "calc(100% - %s)" % ($igo-sidenav-margin-top);
  background-color: $igo-background-color;

  left: 20%;
  width: 60%;
  +media(mobile) {
    left: 0;
    width: 100%;
  }
}

igo-feature-list {
  position: absolute;
  top: 50px;
  margin: 0 $igo-padding;
  width: "calc(100% - %s * 2)" %  ($igo-padding);
  max-width: 435px;
  z-index: 10;
  background-color: white;
}

igo-baselayers-switcher >>> .igo-mini-basemap-container:hover .igo-mini-basemap-title {
  color: white;
  text-shadow: 0 0 5px #000 !important;
}

igo-geolocate-button, igo-zoom-button, igo-legend-button {
  & >>> button.mat-icon-button.mat-primary {
    color: white;
    background-color: $primary-color;
  }
}

igo-zoom-button >>> button.mat-icon-button.mat-primary:hover {
  color: white;
  background-color: $primary-color;
}

#logo {
  position: absolute;
  bottom: 2px;
  right: 60px;
}

igo-map-browser.toast-shown-offset {
  +media(mobile) {
    & >>> .ol-scale-line,
    & >>> #logo {
      bottom: 52px;
    }
  }
}

igo-map-browser.toast-opened-offset {
  +media(mobile) {
    & >>> .ol-scale-line,
    & >>> #logo {
      bottom: 302px;
    }
  }
}
