@require './var.styl';

.igo-container {
  width: "calc(100% - 2 * %s)" % $igo-padding;
  height: 100%;
  padding: $igo-padding 0;
  margin: 0 $igo-padding;
  overflow: hidden;
  position: relative;
}

.igo-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}


igo-context-manager-tool {
  mat-icon, .mat-line {
    color: white;
  }

  igo-collapsible > mat-list-item.mat-list-item.mat-list-item-avatar {
    display: none;
  }
}


igo-share-map-tool {
  button.mat-raised-button > span {
      color: #2b2a2a;
  }

  label.mat-form-field-label {
    color: white;
  }

  mat-icon {
    color: white;
    &:hover {
      color: $accent-color;
    }
  }
}

simple-notification > .simple-notification.info {
  background-color: #2b2a2a;
}
