@import './cls.styl';
@require './media.styl';
@require './var.styl';


/*** Reset ***/

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* IE10+ */
::-ms-clear {
  display: none;
}
